.line {
  position: relative;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 0;
  color: #0451a5;
  margin: 0;
  width: 100%;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
}

.toggle {
  flex: none;
  position: absolute;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  cursor: pointer;
}

.icon {
  border: solid lightgray;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
}

.expand {
  margin-left: 43px;
  margin-top: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.collapse {
  margin-left: 41px;
  margin-top: 6px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.collapsed {
  font-size: 10px;
  color: darkgray;
}

.token-unclassified,
.token-breaking,
.token-annotation,
.token-non-breaking {
  margin-left: 4px;
  font-size: 10px;
  min-width: 16px;
  padding: 1px 3px;
  height: 14px;
  border-radius: 4px;
  border: 1px solid darkgray;
  text-indent: -1px;
  text-align: center;
  color: darkgray;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

}

.token-breaking {
  border-color: red;
  color: red;
}

.token-non-breaking {
  border-color: rgb(0, 170, 0);
  color: rgb(0, 170, 0);
}

.token-annotation {
  border-color: mediumorchid;
  color: mediumorchid;
}

.diff {
  left: -1px;
  position: absolute;
  width: 3px;
  background-color: darkgray;
  height: 100%;
}

.diff.breaking {
  background-color: red;
}

.diff.non-breaking {
  background-color: rgb(0, 170, 0);
}

.diff.annotation {
  background-color: mediumorchid;
}

.before {
  text-decoration: line-through;
  background-color: #FFC8C1;
}

.after {
  background-color: #D0FAD4;
}

.line-num {
  line-height: 18px;  
  padding-left: 10px;
  padding-right: 15px;
  color: #6e7681;
  text-align: right;
  white-space: nowrap;
  font-size: 12px;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  /* display: inline-block; */
  position: absolute;
  width: 30px;
}

.line-content {
  word-break: break-all;
  overflow: visible;
  word-wrap: normal;
  text-align: left;
  font-size: 12px;
  display: inline-block;
  margin: 0;
}

.token-spec,
.token-key {
  color: #008080;
}

.token-string {
  color: #0451a5;
}

.action-remove {
  background-color:#ff526112;
}

.action-add {
  background-color: #00BB5B12;

}

.action-replace {
  background-color: #FFB02E12;

}

.action-hidden {
  background-color: #F2F3F5;
}

.right {
  border-left: solid 1px lightgray;
}