.api-navigation {
  font-family: var(--navigation-font-family);
  font-size: 13px;
  line-height: 15px;
  height: inherit;
}

.api-navigation .api-method {
  cursor: pointer;
  font-size: 10px;
  opacity: .75;
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--navigation-default-color);
  border: none;
  border-radius: 3px;
  line-height: 12px;
  max-width: 100%;
  min-height: 16px;
  min-width: 16px;
  padding: 0px 6px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: white;
}

.api-navigation .api-method.get {
  background-color: var(--navigation-get-color);
}

.api-navigation .api-method.post {
  background-color: var(--navigation-post-color);
}

.api-navigation .api-method.delete {
  background-color: var(--navigation-delete-color);
}

.api-navigation .api-method.put {
  background-color: var(--navigation-put-color);
}
