.api-navigation .navigation-ref {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  background-color: var(--base-bg-color);
  padding: 0 10px;
}

.api-navigation .navigation-ref.active {
  background-color: var(--navigation-active-bg-color);
}

.api-navigation .navigation-ref:hover {
  background-color: var(--navigation-hover-bg-color);
}

.api-navigation .replace {
  background-color: var(--replace-bg-color);
}

.api-navigation .add {
  background-color: var(--add-bg-color);
}

.api-navigation .remove {
  background-color: var(--remove-bg-color);
}

.api-navigation .navigation-ref .navigation-path {
  unicode-bidi: bidi-override;
  overflow: hidden;
  text-align: left;
  direction: rtl;
  white-space: nowrap;
  font-size: 13px;
  color: var(--navigation-text-color);
  text-overflow: ellipsis;
  padding: 5px 0;
}
