.api-navigation {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.api-navigation .navigation-group {
  padding: 5px 10px;
  font-weight: bolder;
  cursor: pointer;
  position: relative;

}

.api-navigation .navigation-group .group-toggle {
  position: absolute;
  cursor: pointer;

  border: solid black;
  border-width: 0 2px 2px 0;
  padding: 2px;
  margin-top: 5px;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.api-navigation .navigation-group .group-toggle.collapsed {
  margin-top: 6px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.api-navigation .navigation-group .group-name {
  padding-left: 12px;
}
